*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-top: 80px;
}

.big-container{
    max-width: 1200px;
    margin-inline: auto;
}

.small-container{
    max-width: 1000px;
    margin-inline: auto;
}

a{
    text-decoration-line: none;
}

.text_white{
    color: white;
}

.text_grey{
    color: #7F7F7F;
}

.blue{
    color: #0061FF;
}

/* Header */

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: white;
    z-index: 99;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #C4C4C4;
}


.first-box,.second-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding: 30px;
}

.btn{
    background-color: #0061FF;
    display: inline-block;
    white-space: nowrap;
    padding: 0.5em 0.7em;
}

.download{
    color: black;
}

/* Jumbo */

.jumbo{
    background-color: #B4D0E7;
    padding-top: 70px;
}

h1{
    font-size: 5.5rem;
}

.main-info{
    display: flex;
    align-items: flex-start;
    margin-top: 3rem;
}

.main-info{
    align-items: stretch;
}

.jumbo .text{
    flex: 0 0 30%;

}

.text{
position: relative;
}

.main-p_1{
    margin-bottom: 2rem;
}

.main-p_2{
    margin-top: 2rem;
}

.arrow-down{
    position: absolute;
    bottom: 30px;
    left:0;
    font-size: 4rem;
}

.jumbo img{
    flex: 0 0 70%;
    min-width: 0;
    margin-bottom: -75px;
}

/* Main */

/* Business sect */

section, footer{
    margin-top: 150px;
}

h2{
    font-size: 3rem;
}



.radio-button >*{
    margin-top: 20px;
    display: inline-block;
}

._2{
    margin-left: 4rem;
}

.Business-choose{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
}

.info-choice{
    border: 1px solid #7F7F7F;
    flex: 0 0 calc(100% / 3 - 4rem);
}

.quantity{
    text-align: center;
    padding: 0.5rem;
}

.choice{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
}

.row{
    height: 2px;
    width: 20%;
    margin-top: 20px;
    background-color: #7F7F7F;
}

.functions{
    display: flex;
    gap: 0.5rem;
}

.Enterprise-team{
    flex: 0 0 100%;
}

.sales-office{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-right: 2rem;
}

/* Partnership sect */

.Partnership{
    display: flex;
    gap: 4rem;
}

.partner-img{
    flex: 0 0 70%;
}

.partner-img img{
    min-width: 0;
    width: 100%;
}

.partner-text{
    flex: 0 0 calc(100% - 70% - 4rem);
}

.partner-text h3{
    font-size: 1.5rem;
}

.partner-text .btn{
    border: 1px solid black;
    margin-right: 8rem;
    background-color: white;
}

/* Operation sect */

.Cards{
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
}

.container img{
    min-width: 0;
    width: 100%;
}

.info-card{
    flex: 0 0 calc(100% / 3 - 4rem);
}

/* Companies sect */

.Companies{
    display: flex;
}

.box{
    flex: 0 0 calc(100% / 3);
}

.companies{
    display: flex;
    flex-wrap: wrap;
}

.small-box{
    flex: 0 0 calc(100% / 2);
    display: flex;
    padding: 3rem;
    height: 230px;
}
.small-box img{
    min-width: 0;
    width: 100%;
}

.Companies .text{
    background-color: #F5F5F5;
}

.change-colour{
    fill: #D5001F;
}
/* small-box bkgr-colours */

.n1{
    background-color: #A2D39B; 
}

.n2{
    background-color: #61082B;
}

.n3{
    background-color: #0093CE;
}

.n4{
    background-color: #FF1C1C;
}

.n5{
    background-color: #D5001F;
}

.n6{
    background-color: #B4D0E7;
}

.n7{
    background-color: #0D2481;
}

.n8{
    background-color: #FFD830;
}



/* Free-trial sect */

.Free-trial{
    margin-top: 0;
    background-color: #B4D0E7;
}

.starting-trial{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 5rem;
}

.starting-trial .btn{
    background-color: white;
}

/* Questions sect */

.Questions h2{
    margin-bottom: 4rem;
}


.popular-question{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid black;
    padding: 2rem;
}

/* Footer */

footer{
    background-color: black;
}

.footer-top{
    display: flex;
    flex-wrap: wrap;
    gap: 3.7rem;
}

.column{
    flex: 0 0 calc(100% / 5 - 3rem);
    margin-top: 5rem;
}

li{
    list-style: none;
    padding: 0.5rem 0;
}

.footer-bottom{
    width: 100%;
    
}

.lang{
    margin: 2rem 0;
}