*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-top: 80px;
}

.big-container{
    max-width: 1200px;
    margin-inline: auto;
}

.small-container{
    max-width: 1000px;
    margin-inline: auto;
}

a{
    text-decoration-line: none;
}

.text_white{
    color: white;
}

.text_grey{
    color: #7F7F7F;
}

.blue{
    color: #0061FF;
}

/* Header */

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: white;
    z-index: 99;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #C4C4C4;
}


.first-box,.second-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding: 30px;
}

.btn{
    background-color: #0061FF;
    display: inline-block;
    white-space: nowrap;
    padding: 0.5em 0.7em;
}

/* Jumbo */

.jumbo{
    background-color: #B4D0E7;
    padding-top: 70px;
}

h1{
    font-size: 5.5rem;
}

.main-info{
    display: flex;
    align-items: flex-start;
    margin-top: 3rem;
}

.main-info{
    align-items: stretch;
}

.jumbo .text{
    flex: 0 0 30%;

}

.text{
position: relative;
}

.main-p_1{
    margin-bottom: 2rem;
}

.main-p_2{
    margin-top: 2rem;
}

.arrow-down{
    position: absolute;
    bottom: 30px;
    left:0;
    font-size: 4rem;
}

.jumbo img{
    flex: 0 0 70%;
    min-width: 0;
    margin-bottom: -75px;
}

/* Main */

/* Section_1 */

h2{
    font-size: 4rem;
}

.Business-plan{
    margin-top: 130px;
}

.radio-button >*{
    margin-top: 20px;
    display: inline-block;
    
}


._2{
    margin-left: 4rem;
}

.Business-choose{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}

.choice{
    border: 1px solid #7F7F7F;
    flex: 0 0 calc(100% / 3 - 4rem);
}

.quantity{
    text-align: center;
    padding: 0.5rem;
}

.info-choice{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.row{
    height: 2px;
    width: 20%;
    margin-top: 20px;
    background-color: #7F7F7F;
}

.Enterprise-team{
    flex: 0 0 100%;
}

.sales-office{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-right: 2rem;
}